html,body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
}

.text-box {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main-text {
  background-color: coral;
  margin-bottom: 3%;
  margin-top: 7%;
}

.author {
  background-color: deepskyblue;
}
